@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');

/* =============== */
/*       CORPO     */
/* =============== */
body {
    margin: 0;
    padding: 0;
    font-family: "Datatype", monospace;
    display: flex;
    justify-content: center;
}

.corpo {
    /* Tirar essa borda */
    width: 99%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* =============== */
/*       CORPO     */
/* =============== */


/* =============== */
/*       NAVBAR     */
/* =============== */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin: 5px;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.itens_menus {
    width: 15%;
    height: 7vh;
    font-size: 2vh;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px 0 5px 0;
    transition: 1s;
}

.itens_menus:hover {
    color: white;
    background-color: black;
    border: 1px white solid;
    border-radius: 0 5px 0 5px;
}

/* =============== */
/*       NAVBAR     */
/* =============== */



.conteudo {
    border: 1px solid black;
    margin: 10px;
    
}


/* =============== */
/*    CALCULADORA     */
/* =============== */

.calculadora {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.titulo_calculadora {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;    
}

.Inserir-template {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px; 
    height: 100px;
}

.template-spans {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 19%;
    height: 40%;
}

.template-spans span {
    width: 27%;
    text-align: center;
}

.template-spans select {
    text-align: center;
    width: 27%;
    border: 1px solid black;
}

.template-inputs {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 19%;
    height: 40%;
}

.template-inputs input {
    text-align: center;
    width: 25%;
    border: 1px solid black;
}

.template-inputs select {
    text-align: center;
    width: 25%;
    border: 1px solid black;
}

.calculadora_botoes {
    margin-top: 35px;
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 20%;
}

.calculadora_botoes button{
    height: 7vh;
    width: 30%;
    font-size: 2vh;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px 0 5px 0;
    transition: 1s;
}

.calculadora_botoes button:hover {
    background-color: black;
    border: 1px white solid;
    color: white;
    border-radius: 0 5px 0 5px;
}

.historíco_calculadora {
    border-top: 2px solid black;
    margin-top: 30px;
    padding-top: 10px;
    width: 50%;
}

.resultados_calculadora {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    align-items: center;
}

.resultado-box {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
    border-top: 1px dashed black;
    padding-top: 10px;
}

.resultado-box span {
    display: flex;
    justify-content: center;
    width: 15%;
}

/* =============== */
/*    CALCULADORA     */
/* =============== */


/* =============== */
/*      SOBRE      */
/* =============== */

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_titulo {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.sobre_descricao {
    font-size: 20px;
    text-align: justify;
    width: 50%;
}

.ImagemComputador {
    width: 23%;
}

/* =============== */
/*      SOBRE      */
/* =============== */


/* =============== */
/*    CONVERSOR    */
/* =============== */

.conversor {
    display: none;
    flex-direction: column;
    justify-content: center;
}

/* =============== */
/* CONVERSOR - CIMA */
/* =============== */

.titulo_instrucao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversor_titulo {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.conversor_instrucao {
    font-size: 20px;
    text-align: justify;
    width: 60%;
}

.BotoesConversor {
    display: flex;
    justify-content: center;
    gap: 15%;
}

.BotoesConversor button {
    height: 7vh;
    width: 20%;
    font-size: 2vh;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px 0 5px 0;
    transition: 1s;
}

.BotoesConversor button:hover {
    background-color: black;
    border: 1px white solid;
    color: white;
    border-radius: 0 5px 0 5px;
}
/* =============== */
/* CONVERSOR - CIMA */
/* =============== */


/* =============== */
/* CONVERSOR - Baixo */
/* =============== */

.Conversao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversao_inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.caixaConversor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.caixaConversor span {
    font-size: 17px;
}

.caixaConversor input {
    border: 2px solid black;
    width: 70%;
    height: 30px;
    border-radius: 3px;
}

.caixaConversor input::placeholder {
    text-align: center;
}

.historio_conversor {
    border-top: 2px solid black;
    width: 95%;
}


.resultado_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.CaixaResultado {
    display: flex;
    flex-direction: wrap;
    gap: 15%;
    width: 75%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.CaixaResultado span {
    font-size: 17px;
    width: 80%;
    border: 2px black solid;
    text-align: center;
}

/* =============== */
/* CONVERSOR - Baixo */
/* =============== */

/* =============== */
/*    CONVERSOR    */
/* =============== */